body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: blueviolet;
  color: white;
  font-family: "Roboto Mono", monospace;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.title {
  text-align: center;
}

.score-container {
  display: flex;

  flex-direction: column;
  align-items: end;
}

.score-board {
  display: flex;
  gap: 2em;
}

.human-score-wrapper,
.computer-score-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
